$blue-400: #3ca5d6;
$blue-500: #2992c3;
$gray-800: #333B46;
$gray-300: #ccc;
$gray-100: #f5f5f5;
$font-size-base: 13px;


#timetrack {

    #idx-track-time {
        min-width: 101px;
        display: inline-block;
        text-shadow: none;
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            outline: none;
        }
        &.btn-success {
            color: #fff;
            background-color: $blue-400;
            &:hover,
            &:focus,
            &:active {
                background-color: $blue-500;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    
        .btn-close {
            line-height: 13px;
            vertical-align: text-top;
            font-size: 20px;
        }
    }
}
